*.cmd
*.symvers
*.o
.depend
.config
.config.old
.*.swp
.missing-syscalls.d
.tmp*
.version
System.map
arch/arm/include/generated
vmlinux
*.d
*.mod.*
include/config
include/generated
include/linux/version.h
arch/arm/kernel/asm-offsets.s
kernel/bounds.s
